---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import servicesData from './Data/services.json';
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="What We Offer" description="Kickstart your online journey with our comprehensive LaunchPad package. For just R299 per month, you'll receive">
</div>

<div class="flex-row items-center py-5">
    <div class="grid  grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">

        <!-- card start-->
        {
        servicesData.map(({ background, name1, name2, arrow, link, image} ) => (
        <div class={background}>
            <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                <div class="flex-col justify-start items-start flex">
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <h2 class=" text-3xl font-medium">{name1}</h2>
                    </div>
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <p class="text-lg ">{name2}</p>
                    </div>
                </div>
                <a class="justify-start items-center gap-[15px] inline-flex" href={link}>
                    <div class="w-[41px] h-[41px] relative">
                        <img class="w-[41px] h-[41px] left-0 top-0 absolute" src={arrow} />
                    </div>
                    <div class="text-xl font-normal leading-7">Learn more</div>
                </a>
            </div>
            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                <img class="hidden md:block" src={image} />
            </div>
        </div>
        ))
        }
        <!-- card end-->
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[275px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex text-black">
                <div class="text-3xl font-medium">Save money on Web Design and Simplify Your Search for Products and Suppliers</div>
                <div class="text-lg font-normal">Say goodbye to the hassle of finding an eCommerce web designer! Our team will efficiently set up your eCommerce website, ensuring it's ready for sales, so you can relax while we handle everything.
                </div>
                <a href="https://deejaydev.lemonsqueezy.com/buy/53b26d0e-316a-4a54-9b91-32e7ad42be71" class="px-[35px] py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-[14px] justify-start items-start gap-2.5 inline-flex">
                    <div class="text-center text-xl font-normal leading-7"> Get Your LaunchPad Now!</div>
                </a>
            </div>
        </div>
        <div class="hidden md:grid justify-items-center -m-20">
            <img src="/services/mockup-1.svg" width="50%" alt="cat"/>
        </div>
    </div>
</div>
</Container>