---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import servicesData from './Data/services.json';
import mockupImage from '../images/mockup-1.png'
import CtaButton from "./CtaButton.astro";
import { Image } from "astro:assets";
import { pricingList } from "../utils/config";
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="What We Offer" description="Kickstart your online journey with our comprehensive LaunchPad package. For just R299 per month, you'll receive">
</div>

<div class="flex-row items-center py-5">
    <div class="grid  grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">

        <!-- card start-->
        {
        servicesData.map(({ background, name1, name2, arrow, link, image} ) => (
        <div class={background}>
            <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                <div class="flex-col justify-start items-start flex">
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <h2 class=" text-3xl font-medium">{name1}</h2>
                    </div>
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <p class="text-lg ">{name2}</p>
                    </div>
                </div>
                <a class="justify-start items-center gap-[15px] inline-flex" href={link}>
                    <div class="w-[41px] h-[41px] relative">
                        <img class="w-[41px] h-[41px] left-0 top-0 absolute" src={arrow} />
                    </div>
                    <div class="text-xl font-normal leading-7">Learn more</div>
                </a>
            </div>
            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                <img class="hidden md:block" src={image} />
            </div>
        </div>
        ))
        }
        <!-- card end-->
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[275px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex text-black">
                <div class="text-3xl font-medium">
                    We Help Save Money for your Business with Tech Solutions.
                 </div>
                 <div class="text-lg font-normal">
                    Say goodbye to the stress of finding great web developers, designers, and digital marketers! Our friendly team will set up your website just how you want it, so you can relax while we handle everything.
                 </div>

                 <CtaButton title={`Get ${pricingList.LunchPad.packageName} R${pricingList.LunchPad.price} PM`} checkoutUrl={pricingList.LunchPad.packageLink}/>                
            </div>
        </div>
        <div class="hidden md:grid justify-items-center -m-36">
            <Image src={mockupImage} alt={`Best Web Development Solutions for South African Businesses form R${ pricingList.LunchPad.price } monthly `}/>
        </div>
    </div>
</div>
</Container>